<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="zbozi">
            <h2><span jhiTranslate="augmentedWarehouseApp.zbozi.detail.title">Zbozi</span> {{ zbozi.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="augmentedWarehouseApp.zbozi.kategorie">Kategorie</span></dt>
                <dd>
                    <span>{{ zbozi.kategorie }}</span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.zbozi.slozeni">Slozeni</span></dt>
                <dd>
                    <span>{{ zbozi.slozeni }}</span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.zbozi.popisZbozi">Popis Zbozi</span></dt>
                <dd>
                    <span>{{ zbozi.popisZbozi }}</span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.zbozi.ean">Ean</span></dt>
                <dd>
                    <span>{{ zbozi.ean }}</span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.zbozi.obrazek">Obrazek</span></dt>
                <dd>
                    <span>{{ zbozi.obrazek }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/zbozi', zbozi.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
