<div>
    <h2 id="page-heading">
        <span jhiTranslate="augmentedWarehouseApp.zbozi.home.title">Zbozis</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-zbozi" [routerLink]="['/zbozi/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="augmentedWarehouseApp.zbozi.home.createLabel">
            Create a new Zbozi
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="zbozis?.length === 0">
        <span jhiTranslate="augmentedWarehouseApp.zbozi.home.notFound">No zbozis found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="zbozis?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.zbozi.kategorie">Kategorie</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.zbozi.slozeni">Slozeni</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.zbozi.popisZbozi">Popis Zbozi</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.zbozi.ean">Ean</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.zbozi.obrazek">Obrazek</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let zbozi of zbozis ;trackBy: trackId">
                    <td><a [routerLink]="['/zbozi', zbozi.id, 'view']">{{ zbozi.id }}</a></td>
                    <td>{{ zbozi.kategorie }}</td>
                    <td>{{ zbozi.slozeni }}</td>
                    <td>{{ zbozi.popisZbozi }}</td>
                    <td>{{ zbozi.ean }}</td>
                    <td>{{ zbozi.obrazek }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/zbozi', zbozi.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/zbozi', zbozi.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(zbozi)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
