<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-zbozi-heading" jhiTranslate="augmentedWarehouseApp.zbozi.home.createOrEditLabel">Create or edit a Zbozi</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.zbozi.kategorie" for="field_kategorie">Kategorie</label>
                    <input type="text" class="form-control" name="kategorie" id="field_kategorie"
                           formControlName="kategorie"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.zbozi.slozeni" for="field_slozeni">Slozeni</label>
                    <input type="text" class="form-control" name="slozeni" id="field_slozeni"
                           formControlName="slozeni"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.zbozi.popisZbozi" for="field_popisZbozi">Popis Zbozi</label>
                    <input type="text" class="form-control" name="popisZbozi" id="field_popisZbozi"
                           formControlName="popisZbozi"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.zbozi.ean" for="field_ean">Ean</label>
                    <input type="text" class="form-control" name="ean" id="field_ean"
                           formControlName="ean"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.zbozi.obrazek" for="field_obrazek">Obrazek</label>
                    <textarea class="form-control" name="obrazek" id="field_obrazek"
                              formControlName="obrazek"></textarea>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
