<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-jednotky-heading" jhiTranslate="augmentedWarehouseApp.jednotky.home.createOrEditLabel">Create or edit a Jednotky</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.jednotky.hlavniJednotka" for="field_hlavniJednotka">Hlavni Jednotka</label>
                    <select class="form-control" name="hlavniJednotka" formControlName="hlavniJednotka" id="field_hlavniJednotka">
                        <option value="Ks">{{ 'augmentedWarehouseApp.HlavniJednotky.Ks' | translate }}</option>
                        <option value="Mm">{{ 'augmentedWarehouseApp.HlavniJednotky.Mm' | translate }}</option>
                        <option value="L">{{ 'augmentedWarehouseApp.HlavniJednotky.L' | translate }}</option>
                        <option value="Kg">{{ 'augmentedWarehouseApp.HlavniJednotky.Kg' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.jednotky.ratioDoHlavniJednotky" for="field_ratioDoHlavniJednotky">Ratio Do Hlavni Jednotky</label>
                    <input type="number" class="form-control" name="ratioDoHlavniJednotky" id="field_ratioDoHlavniJednotky"
                           formControlName="ratioDoHlavniJednotky"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.jednotky.nazevJednotky" for="field_nazevJednotky">Nazev Jednotky</label>
                    <input type="text" class="form-control" name="nazevJednotky" id="field_nazevJednotky"
                           formControlName="nazevJednotky"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
