<div>
    <h2 id="page-heading">
        <span jhiTranslate="augmentedWarehouseApp.jednotky.home.title">Jednotkies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-jednotky" [routerLink]="['/jednotky/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="augmentedWarehouseApp.jednotky.home.createLabel">
            Create a new Jednotky
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="jednotkies?.length === 0">
        <span jhiTranslate="augmentedWarehouseApp.jednotky.home.notFound">No jednotkies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="jednotkies?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.jednotky.hlavniJednotka">Hlavni Jednotka</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.jednotky.ratioDoHlavniJednotky">Ratio Do Hlavni Jednotky</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.jednotky.nazevJednotky">Nazev Jednotky</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jednotky of jednotkies ;trackBy: trackId">
                    <td><a [routerLink]="['/jednotky', jednotky.id, 'view']">{{ jednotky.id }}</a></td>
                    <td jhiTranslate="{{ 'augmentedWarehouseApp.HlavniJednotky.' + jednotky.hlavniJednotka }}">{{ jednotky.hlavniJednotka }}</td>
                    <td>{{ jednotky.ratioDoHlavniJednotky }}</td>
                    <td>{{ jednotky.nazevJednotky }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/jednotky', jednotky.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/jednotky', jednotky.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(jednotky)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
