<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jednotky">
            <h2><span jhiTranslate="augmentedWarehouseApp.jednotky.detail.title">Jednotky</span> {{ jednotky.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="augmentedWarehouseApp.jednotky.hlavniJednotka">Hlavni Jednotka</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'augmentedWarehouseApp.HlavniJednotky.' + jednotky.hlavniJednotka }}">{{ jednotky.hlavniJednotka }}</span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.jednotky.ratioDoHlavniJednotky">Ratio Do Hlavni Jednotky</span></dt>
                <dd>
                    <span>{{ jednotky.ratioDoHlavniJednotky }}</span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.jednotky.nazevJednotky">Nazev Jednotky</span></dt>
                <dd>
                    <span>{{ jednotky.nazevJednotky }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/jednotky', jednotky.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
