<div>
    <h2 id="page-heading">
        <span jhiTranslate="augmentedWarehouseApp.police.home.title">Police</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-police" [routerLink]="['/police/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="augmentedWarehouseApp.police.home.createLabel">
            Create a new Police
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="police?.length === 0">
        <span jhiTranslate="augmentedWarehouseApp.police.home.notFound">No police found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="police?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.police.stojan">Stojan</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let police of police ;trackBy: trackId">
                    <td><a [routerLink]="['/police', police.id, 'view']">{{ police.id }}</a></td>
                    <td>
                        <div *ngIf="police.stojan">
                            <a [routerLink]="['/stojan', police.stojan?.id, 'view']" >{{ police.stojan?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/police', police.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/police', police.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(police)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
