<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-police-heading" jhiTranslate="augmentedWarehouseApp.police.home.createOrEditLabel">Create or edit a Police</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.police.stojan" for="field_stojan">Stojan</label>
                    <select class="form-control" id="field_stojan" name="stojan" formControlName="stojan">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stojanOption.id === editForm.get('stojan')!.value?.id ? editForm.get('stojan')!.value : stojanOption" *ngFor="let stojanOption of stojans; trackBy: trackById">{{ stojanOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
