<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="police">
            <h2><span jhiTranslate="augmentedWarehouseApp.police.detail.title">Police</span> {{ police.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="augmentedWarehouseApp.police.stojan">Stojan</span></dt>
                <dd>
                    <div *ngIf="police.stojan">
                        <a [routerLink]="['/stojan', police.stojan?.id, 'view']">{{ police.stojan?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/police', police.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
