<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-typ-ks-heading" jhiTranslate="augmentedWarehouseApp.typKS.home.createOrEditLabel">Create or edit a Typ KS</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.typKS.pocetJednotekVKS" for="field_pocetJednotekVKS">Pocet Jednotek VKS</label>
                    <input type="number" class="form-control" name="pocetJednotekVKS" id="field_pocetJednotekVKS"
                           formControlName="pocetJednotekVKS"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.typKS.cenaKS" for="field_cenaKS">Cena KS</label>
                    <input type="number" class="form-control" name="cenaKS" id="field_cenaKS"
                           formControlName="cenaKS"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.typKS.jednotky" for="field_jednotky">Jednotky</label>
                    <select class="form-control" id="field_jednotky" name="jednotky" formControlName="jednotky">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="jednotkyOption.id === editForm.get('jednotky')!.value?.id ? editForm.get('jednotky')!.value : jednotkyOption" *ngFor="let jednotkyOption of jednotkies; trackBy: trackById">{{ jednotkyOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
