<div>
    <h2 id="page-heading">
        <span jhiTranslate="augmentedWarehouseApp.typKS.home.title">Typ KS</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-typ-ks" [routerLink]="['/typ-ks/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="augmentedWarehouseApp.typKS.home.createLabel">
            Create a new Typ KS
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typKS?.length === 0">
        <span jhiTranslate="augmentedWarehouseApp.typKS.home.notFound">No typKS found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typKS?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.typKS.pocetJednotekVKS">Pocet Jednotek VKS</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.typKS.cenaKS">Cena KS</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.typKS.jednotky">Jednotky</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let typKS of typKS ;trackBy: trackId">
                    <td><a [routerLink]="['/typ-ks', typKS.id, 'view']">{{ typKS.id }}</a></td>
                    <td>{{ typKS.pocetJednotekVKS }}</td>
                    <td>{{ typKS.cenaKS }}</td>
                    <td>
                        <div *ngIf="typKS.jednotky">
                            <a [routerLink]="['/jednotky', typKS.jednotky?.id, 'view']" >{{ typKS.jednotky?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/typ-ks', typKS.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/typ-ks', typKS.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(typKS)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
