<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typKS">
            <h2><span jhiTranslate="augmentedWarehouseApp.typKS.detail.title">Typ KS</span> {{ typKS.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="augmentedWarehouseApp.typKS.pocetJednotekVKS">Pocet Jednotek VKS</span></dt>
                <dd>
                    <span>{{ typKS.pocetJednotekVKS }}</span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.typKS.cenaKS">Cena KS</span></dt>
                <dd>
                    <span>{{ typKS.cenaKS }}</span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.typKS.jednotky">Jednotky</span></dt>
                <dd>
                    <div *ngIf="typKS.jednotky">
                        <a [routerLink]="['/jednotky', typKS.jednotky?.id, 'view']">{{ typKS.jednotky?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/typ-ks', typKS.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
