<div>
    <h2 id="page-heading">
        <span jhiTranslate="augmentedWarehouseApp.pozice.home.title">Pozices</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pozice" [routerLink]="['/pozice/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="augmentedWarehouseApp.pozice.home.createLabel">
            Create a new Pozice
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pozices?.length === 0">
        <span jhiTranslate="augmentedWarehouseApp.pozice.home.notFound">No pozices found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pozices?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.pozice.qrCode">Qr Code</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.pozice.baleni">Baleni</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.pozice.sloupec">Sloupec</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pozice of pozices ;trackBy: trackId">
                    <td><a [routerLink]="['/pozice', pozice.id, 'view']">{{ pozice.id }}</a></td>
                    <td>{{ pozice.qrCode }}</td>
                    <td>
                        <span *ngFor="let baleni of pozice.balenis; let last = last">
                            <a class="form-control-static" [routerLink]="['/baleni', baleni?.id, 'view']">{{ baleni.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <div *ngIf="pozice.sloupec">
                            <a [routerLink]="['/sloupec', pozice.sloupec?.id, 'view']" >{{ pozice.sloupec?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pozice', pozice.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pozice', pozice.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pozice)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
