<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pozice-heading" jhiTranslate="augmentedWarehouseApp.pozice.home.createOrEditLabel">Create or edit a Pozice</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.pozice.qrCode" for="field_qrCode">Qr Code</label>
                    <input type="text" class="form-control" name="qrCode" id="field_qrCode"
                           formControlName="qrCode"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="augmentedWarehouseApp.pozice.baleni" for="field_balenis">Baleni</label>
                    <select class="form-control" id="field_balenis" multiple name="balenis" formControlName="balenis">
                        <option [ngValue]="getSelected(editForm.get('balenis')!.value, baleniOption)" *ngFor="let baleniOption of balenis; trackBy: trackById">{{ baleniOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.pozice.sloupec" for="field_sloupec">Sloupec</label>
                    <select class="form-control" id="field_sloupec" name="sloupec" formControlName="sloupec">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sloupecOption.id === editForm.get('sloupec')!.value?.id ? editForm.get('sloupec')!.value : sloupecOption" *ngFor="let sloupecOption of sloupecs; trackBy: trackById">{{ sloupecOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
