<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pozice">
            <h2><span jhiTranslate="augmentedWarehouseApp.pozice.detail.title">Pozice</span> {{ pozice.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="augmentedWarehouseApp.pozice.qrCode">Qr Code</span></dt>
                <dd>
                    <span>{{ pozice.qrCode }}</span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.pozice.baleni">Baleni</span></dt>
                <dd>
                    <span *ngFor="let baleni of pozice.balenis; let last = last">
                        <a [routerLink]="['/baleni', baleni?.id, 'view']">{{ baleni.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.pozice.sloupec">Sloupec</span></dt>
                <dd>
                    <div *ngIf="pozice.sloupec">
                        <a [routerLink]="['/sloupec', pozice.sloupec?.id, 'view']">{{ pozice.sloupec?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pozice', pozice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
