<div>
    <h2 id="page-heading">
        <span jhiTranslate="augmentedWarehouseApp.stojan.home.title">Stojans</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-stojan" [routerLink]="['/stojan/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="augmentedWarehouseApp.stojan.home.createLabel">
            Create a new Stojan
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="stojans?.length === 0">
        <span jhiTranslate="augmentedWarehouseApp.stojan.home.notFound">No stojans found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="stojans?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.stojan.sklad">Sklad</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stojan of stojans ;trackBy: trackId">
                    <td><a [routerLink]="['/stojan', stojan.id, 'view']">{{ stojan.id }}</a></td>
                    <td>
                        <div *ngIf="stojan.sklad">
                            <a [routerLink]="['/sklad', stojan.sklad?.id, 'view']" >{{ stojan.sklad?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/stojan', stojan.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/stojan', stojan.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(stojan)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
