<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stojan">
            <h2><span jhiTranslate="augmentedWarehouseApp.stojan.detail.title">Stojan</span> {{ stojan.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="augmentedWarehouseApp.stojan.sklad">Sklad</span></dt>
                <dd>
                    <div *ngIf="stojan.sklad">
                        <a [routerLink]="['/sklad', stojan.sklad?.id, 'view']">{{ stojan.sklad?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stojan', stojan.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
