<div>
    <h2 id="page-heading">
        <span jhiTranslate="augmentedWarehouseApp.baleni.home.title">Balenis</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-baleni" [routerLink]="['/baleni/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="augmentedWarehouseApp.baleni.home.createLabel">
            Create a new Baleni
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="balenis?.length === 0">
        <span jhiTranslate="augmentedWarehouseApp.baleni.home.notFound">No balenis found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="balenis?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.baleni.pocetKS">Pocet KS</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.baleni.qrCode">Qr Code</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.baleni.zbozi">Zbozi</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.baleni.typKS">Typ KS</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let baleni of balenis ;trackBy: trackId">
                    <td><a [routerLink]="['/baleni', baleni.id, 'view']">{{ baleni.id }}</a></td>
                    <td>{{ baleni.pocetKS }}</td>
                    <td>{{ baleni.qrCode }}</td>
                    <td>
                        <div *ngIf="baleni.zbozi">
                            <a [routerLink]="['/zbozi', baleni.zbozi?.id, 'view']" >{{ baleni.zbozi?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="baleni.typKS">
                            <a [routerLink]="['/typ-ks', baleni.typKS?.id, 'view']" >{{ baleni.typKS?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/baleni', baleni.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/baleni', baleni.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(baleni)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
