<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-baleni-heading" jhiTranslate="augmentedWarehouseApp.baleni.home.createOrEditLabel">Create or edit a Baleni</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.baleni.pocetKS" for="field_pocetKS">Pocet KS</label>
                    <input type="number" class="form-control" name="pocetKS" id="field_pocetKS"
                           formControlName="pocetKS"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.baleni.qrCode" for="field_qrCode">Qr Code</label>
                    <input type="text" class="form-control" name="qrCode" id="field_qrCode"
                           formControlName="qrCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.baleni.zbozi" for="field_zbozi">Zbozi</label>
                    <select class="form-control" id="field_zbozi" name="zbozi" formControlName="zbozi">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="zboziOption.id === editForm.get('zbozi')!.value?.id ? editForm.get('zbozi')!.value : zboziOption" *ngFor="let zboziOption of zbozis; trackBy: trackById">{{ zboziOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.baleni.typKS" for="field_typKS">Typ KS</label>
                    <select class="form-control" id="field_typKS" name="typKS" formControlName="typKS">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typKSOption.id === editForm.get('typKS')!.value?.id ? editForm.get('typKS')!.value : typKSOption" *ngFor="let typKSOption of typks; trackBy: trackById">{{ typKSOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
