<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="baleni">
            <h2><span jhiTranslate="augmentedWarehouseApp.baleni.detail.title">Baleni</span> {{ baleni.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="augmentedWarehouseApp.baleni.pocetKS">Pocet KS</span></dt>
                <dd>
                    <span>{{ baleni.pocetKS }}</span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.baleni.qrCode">Qr Code</span></dt>
                <dd>
                    <span>{{ baleni.qrCode }}</span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.baleni.zbozi">Zbozi</span></dt>
                <dd>
                    <div *ngIf="baleni.zbozi">
                        <a [routerLink]="['/zbozi', baleni.zbozi?.id, 'view']">{{ baleni.zbozi?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.baleni.typKS">Typ KS</span></dt>
                <dd>
                    <div *ngIf="baleni.typKS">
                        <a [routerLink]="['/typ-ks', baleni.typKS?.id, 'view']">{{ baleni.typKS?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/baleni', baleni.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
