<div>
    <h2 id="page-heading">
        <span jhiTranslate="augmentedWarehouseApp.sklad.home.title">Sklads</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sklad" [routerLink]="['/sklad/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="augmentedWarehouseApp.sklad.home.createLabel">
            Create a new Sklad
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sklads?.length === 0">
        <span jhiTranslate="augmentedWarehouseApp.sklad.home.notFound">No sklads found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sklads?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.sklad.adresa">Adresa</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.sklad.cisloPopisne">Cislo Popisne</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.sklad.cisloOrientacni">Cislo Orientacni</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.sklad.mesto">Mesto</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.sklad.pSC">P SC</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sklad of sklads ;trackBy: trackId">
                    <td><a [routerLink]="['/sklad', sklad.id, 'view']">{{ sklad.id }}</a></td>
                    <td>{{ sklad.adresa }}</td>
                    <td>{{ sklad.cisloPopisne }}</td>
                    <td>{{ sklad.cisloOrientacni }}</td>
                    <td>{{ sklad.mesto }}</td>
                    <td>{{ sklad.pSC }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sklad', sklad.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sklad', sklad.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sklad)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
