<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sklad-heading" jhiTranslate="augmentedWarehouseApp.sklad.home.createOrEditLabel">Create or edit a Sklad</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.sklad.adresa" for="field_adresa">Adresa</label>
                    <input type="text" class="form-control" name="adresa" id="field_adresa"
                           formControlName="adresa"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.sklad.cisloPopisne" for="field_cisloPopisne">Cislo Popisne</label>
                    <input type="number" class="form-control" name="cisloPopisne" id="field_cisloPopisne"
                           formControlName="cisloPopisne"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.sklad.cisloOrientacni" for="field_cisloOrientacni">Cislo Orientacni</label>
                    <input type="number" class="form-control" name="cisloOrientacni" id="field_cisloOrientacni"
                           formControlName="cisloOrientacni"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.sklad.mesto" for="field_mesto">Mesto</label>
                    <input type="text" class="form-control" name="mesto" id="field_mesto"
                           formControlName="mesto"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="augmentedWarehouseApp.sklad.pSC" for="field_pSC">P SC</label>
                    <input type="number" class="form-control" name="pSC" id="field_pSC"
                           formControlName="pSC"/>
                    <div *ngIf="editForm.get('pSC')!.invalid && (editForm.get('pSC')!.dirty || editForm.get('pSC')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pSC')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 10000 }">
                            This field should be at least 10000.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pSC')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 99999 }">
                            This field cannot be more than 99999.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('pSC')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
