<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sklad">
            <h2><span jhiTranslate="augmentedWarehouseApp.sklad.detail.title">Sklad</span> {{ sklad.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="augmentedWarehouseApp.sklad.adresa">Adresa</span></dt>
                <dd>
                    <span>{{ sklad.adresa }}</span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.sklad.cisloPopisne">Cislo Popisne</span></dt>
                <dd>
                    <span>{{ sklad.cisloPopisne }}</span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.sklad.cisloOrientacni">Cislo Orientacni</span></dt>
                <dd>
                    <span>{{ sklad.cisloOrientacni }}</span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.sklad.mesto">Mesto</span></dt>
                <dd>
                    <span>{{ sklad.mesto }}</span>
                </dd>
                <dt><span jhiTranslate="augmentedWarehouseApp.sklad.pSC">P SC</span></dt>
                <dd>
                    <span>{{ sklad.pSC }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sklad', sklad.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
