<div>
    <h2 id="page-heading">
        <span jhiTranslate="augmentedWarehouseApp.sloupec.home.title">Sloupecs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sloupec" [routerLink]="['/sloupec/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="augmentedWarehouseApp.sloupec.home.createLabel">
            Create a new Sloupec
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sloupecs?.length === 0">
        <span jhiTranslate="augmentedWarehouseApp.sloupec.home.notFound">No sloupecs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sloupecs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="augmentedWarehouseApp.sloupec.police">Police</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sloupec of sloupecs ;trackBy: trackId">
                    <td><a [routerLink]="['/sloupec', sloupec.id, 'view']">{{ sloupec.id }}</a></td>
                    <td>
                        <div *ngIf="sloupec.police">
                            <a [routerLink]="['/police', sloupec.police?.id, 'view']" >{{ sloupec.police?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sloupec', sloupec.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sloupec', sloupec.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sloupec)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
