<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sloupec">
            <h2><span jhiTranslate="augmentedWarehouseApp.sloupec.detail.title">Sloupec</span> {{ sloupec.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="augmentedWarehouseApp.sloupec.police">Police</span></dt>
                <dd>
                    <div *ngIf="sloupec.police">
                        <a [routerLink]="['/police', sloupec.police?.id, 'view']">{{ sloupec.police?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sloupec', sloupec.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
